header {
    background-color: #BF3626;
    padding: 10px;
    text-align: left;
    font-size: 30px;
    font-family: Arial;
    color: white;
    border-bottom: 3px solid black;
}

body {
    font-family: Arial;
}

p {
    background-color: #BF3626;
    color: white;
    padding: 10px;
}

button {
    background-color: #BF3626;
    padding: 15px 15px;
    margin: 10px 10px;
    cursor: pointer;
    border: none;
    width: 5%;
    color: white;
    border-radius: 3px;
}

button.hover {
    background-color: rgb(218, 83, 94);
}

input[type=text] {
    width: 100%;
    padding: 15px 15px;
    margin: 10px 0px;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
    border-radius: 3px;
}

hr {
    height: 5px;
    background-color: black;
    margin-bottom: 1px;
}